// fonts

@font-face {
  font-family: "nunito-medium";
  src: url("../assets/Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "nunito-semibold";
  src: url("../assets/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "nunito-bold";
  src: url("../assets/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "nunito-extra-bold";
  src: url("../assets/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "nunito-black";
  src: url("../assets/Nunito_Sans/NunitoSans-Black.ttf") format("truetype");
}
