$blue-color: #0161cd;
$dark-color: #0c2533;
$gradient-color: #8cc63f;

.footer {
  position: relative;
  width: 100%;
  min-height: 507px;
  background-color: #8cc63f;
  color: white;
  padding: 5% 0 30px 0;

  .footer-arrow {
    display: none;
    width: 100%;
    height: auto;

    @include mobile {
      display: flex;
      justify-content: center;
    }
  }
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(1.02);
      color: #275bbb;
      border-radius: 5px;
    }
  }

  @include mobile {
    min-height: 150px;
  }

  .footer-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 71%;
    height: 100%;
    margin: auto;
    padding: 0px 100px;
    transition: all 0.5s easeS-out;

    @include extra-large {
      width: 95%;
    }

    @include large {
      flex-direction: column;
    }

    @include mobile {
      height: 0;
      overflow: hidden;
    }

    .footer-content-1 {
      display: flex;
      justify-content: space-around;
      width: 50%;
      min-width: 350px;

      @include large {
        width: 70%;
        margin-bottom: 50px;
      }

      @include desktop {
        width: 80%;
      }

      @include mobile {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }

    .footer-content-2 {
      display: flex;
      justify-content: space-around;
      width: 50%;
      min-width: 350px;

      @include large {
        width: 70%;
      }

      @include desktop {
        width: 80%;
      }

      @include tablet {
        width: 100%;
      }

      @include mobile {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
      }
    }

    .footer-card {
      margin-bottom: 30px;
    }

    h3 {
      font-size: 30px;
      font-family: "nunito-black";
      margin-bottom: 50px;

      @include mobile {
        margin-bottom: 20px;
      }
    }

    .address {
      h3 {
        font-family: "nunito-medium";
      }
    }

    ul {
      li {
        margin-bottom: 10px;
      }
    }

    .get-in-touch {
      ul {
        display: inline-flex;
        margin: 45px 0px;
        li {
          margin-right: 100%;

          @include mobile {
            margin-right: 0;
            margin: 10px;
          }
        }
      }
    }
  }

  .copyright {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    color: white;

    @include mobile {
      margin-top: 10px;
    }
  }
}
