$blue-color: #0161cd;
$dark-color: #0c2533;
$gradient-color: #8cc63f;

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 950px;
  background-color: $gradient-color;
  border-radius: 0 0 20vw 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    z-index: 10000;

    @include tablet {
      display: block;
    }
  }

  .nav-contaniner-scrolled {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    height: 30px;
  }

  .nav-container-mobile {
    transition: all 0.2s ease;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100vw;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    .nav-bar {
      overflow: hidden;
      margin: auto;
      text-align: center;
      padding-top: 27px;
      display: flex;
      align-items: space-between;
      justify-content: center;

      .nav-list {
        list-style: none;
        line-height: 30px;
      }

      .blog {
        margin-bottom: 200px;
      }

      .nav-item {
        margin: 15px;

        a {
          font-size: 18px;
          font-family: "nunito-extra-bold";
          color: $gradient-color;
          text-decoration: none;
          vertical-align: middle;
          border-bottom: 2px solid rgba(4, 4, 4, 0.427);

          img {
            margin: 0 2% 0 10%;
          }
        }

        .link-scrolled {
          color: $gradient-color;
        }

        .nav-link-search {
          background-color: $gradient-color;
          padding: 20px 10px 10px 0;
          border-radius: 35px;
          padding-left: 110px;
          border-bottom: none;
          margin-top: 300px;
        }
      }
    }
  }

  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    transform: translateY(-100px);
    animation: welcome-nav-appear 1s forwards 1s;

    @include tablet {
      display: none;
    }
    .nav-bar {
      width: 60%;
      height: 80px;
      overflow: hidden;
      margin: auto;
      text-align: right;
      padding-top: 27px;
      .nav-item {
        display: inline;
        margin: 15px;
        align-items: center;

        a {
          font-size: 18px;
          font-family: "nunito-semibold";
          color: #fff;
          text-decoration: none;
          vertical-align: middle;

          img {
            margin: 0 2% 0 10%;
          }
        }

        .link-scrolled {
          color: $gradient-color;
        }

        .nav-link-search {
          background-color: $gradient-color;
          padding: 20px 10px 10px 0;
          border-radius: 35px;
        }
      }
    }
  }

  .header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 86%;
    height: 100%;

    @include extra-large {
      width: 95%;
      margin: auto;
    }

    @include desktop {
      flex-direction: column;
    }

    .header-text-container {
      width: 35vw;
      min-width: 300px;
      padding-top: 50px;

      @include desktop {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
      }

      h1 {
        font-size: 70px;
        font-family: "nunito-black";
        color: #fff;
        margin-bottom: 70px;
        animation: shake-heading 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;

        @include large {
          font-size: 55px;
        }

        @include mobile {
          font-size: 35px;
        }
      }

      p {
        font-size: 24px;
        font-family: "nunito-medium";
        color: #fff;
        margin-bottom: 70px;
        opacity: 0;
        transform: translateY(-50px);
        animation: welcome-paragraph-appear 1s forwards 0.5s;
        @include mobile {
          font-size: 18px;
        }
      }

      .button-container {
        width: 100%;
        display: flex;

        @include desktop {
          justify-content: center;
        }

        button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-family: "nunito-semibold";
          color: black;
          background-color: #fff;
          border: none;
          border-radius: 35px;
          padding: 10px 20px;
          width: 0px;
          height: 70px;
          opacity: 0;
          animation: welcome-button-appear 1s forwards 0.5s;


          @include desktop {
            margin-bottom: 50px;
          }

          img {
            margin: 20px;
          }
        }
      }
    }

    .header-figure-container {
      display: flex;
      justify-content: center;
      transform: translateX(2000px);
      animation: welcome-image-appear 1s forwards 0.5s;
      padding-right: 50px;
      img {
        width: 45vw;
        min-width: 500px;
      }

      @include desktop {
        padding-right: 3px;
        img {
          min-width: 250px;
          width: 80%;
        }
      }

      @include mobile {
        img {
          width: 100%;
          margin-left: 0%;
        }
      }
    }
  }

  .idk {
    position: absolute;
    bottom: 0;
    left: 35vw;
    height: 64px;
  }
}

@keyframes welcome-image-appear {
  to {
    transform: translateX(0);
  }
}

@keyframes welcome-nav-appear {
  to {
    transform: translateY(0);
  }
}

@keyframes welcome-button-appear {
  to {
    opacity: 1;
    width: 270px;
  }
}

@keyframes welcome-paragraph-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake-heading {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
