.profiles {
  position: relative;
  min-height: 680px;
  background-color: #f7fafe;

  .profiles-container {
    width: 71vw;
    margin: auto;
    // background-color: red;
    min-height: 680px;
    padding: 70px 30px 70px 100px;
    position: relative;

    @include extra-large {
      width: 95%;
    }

    @include large {
      padding: 70px 20px 70px 20px;
    }

    .arrows {
      position: absolute;
      bottom: 100px;
      right: 100px;

      @include large {
        bottom: 50px;
        right: 50%;
        transform: translate(+50%);
      }
    }

    .profile-heading {
      display: flex;
      justify-content: center;
      h2 {
        text-align: center;
        color: #0c2533;
        font-size: 45px;
        font-family: "nunito-bold";
        max-width: 470px;
        margin-bottom: 50px;

        @include large {
          max-width: 600px;
        }

        @include mobile {
          font-size: 35px;
        }
      }
    }

    .profile-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-right: 100px;

      @include large {
        flex-direction: column;
        padding: 50px;
      }

      @include mobile {
        padding: 0;
      }

      .profile-img-content {
        img {
          margin-bottom: 20px;
        }

        h4 {
          font-size: 24px;
          font-family: "nunito-extra-bold";
        }

        p {
          font-size: 16px;
        }
      }

      .profile-text-content {
        position: relative;
        width: 67%;
        font-size: 20px;
        line-height: 36px;
        font-family: "nunito-bold";

        margin-bottom: 5%;
        padding: 10px;

        @include large {
          width: 90%;
          margin-top: 30px;
        }

        @include tablet {
          width: 100%;
          font-size: 18px;
          padding: 0px;
        }

        @include mobile {
          margin-bottom: 50px;
        }

        img {
          position: absolute;
          top: -30px;
          right: -80px;
          width: 64px;
        }
      }
    }
  }
}
