//fonts

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

@import "breakpoints";

//imports
@import "header";
@import "services";
@import "started";
@import "profiles";
@import "contact";
@import "footer";
@import "font";

//colors
$blue-color: #0161cd;
$dark-color: #0c2533;
$gradient-color: #8cc63f;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nunito-medium";
  color: $dark-color;
}

body {
  min-width: 320px;
  max-width: 100%;
  position: relative;

  
}
