@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 950px;
  background-color: #8cc63f;
  border-radius: 0 0 20vw 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  z-index: 10000;
}
@media (max-width: 800px) {
  .header .menu-icon {
    display: block;
  }
}
.header .nav-contaniner-scrolled {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  height: 30px;
}
.header .nav-container-mobile {
  transition: all 0.2s ease;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100vw;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.header .nav-container-mobile .nav-bar {
  overflow: hidden;
  margin: auto;
  text-align: center;
  padding-top: 27px;
  display: flex;
  align-items: space-between;
  justify-content: center;
}
.header .nav-container-mobile .nav-bar .nav-list {
  list-style: none;
}
.header .nav-container-mobile .nav-bar .blog {
  margin-bottom: 200px;
}
.header .nav-container-mobile .nav-bar .nav-item {
  margin: 15px;
}
.header .nav-container-mobile .nav-bar .nav-item a {
  font-size: 18px;
  font-family: "nunito-extra-bold";
  color: #8cc63f;
  text-decoration: none;
  vertical-align: middle;
  border-bottom: 2px solid rgba(4, 4, 4, 0.427);
}
.header .nav-container-mobile .nav-bar .nav-item a img {
  margin: 0 2% 0 10%;
}
.header .nav-container-mobile .nav-bar .nav-item .link-scrolled {
  color: #8cc63f;
}
.header .nav-container-mobile .nav-bar .nav-item .nav-link-search {
  background-color: #8cc63f;
  padding: 20px 10px 10px 0;
  border-radius: 35px;
  padding-left: 110px;
  border-bottom: none;
  margin-top: 300px;
}
.header .nav-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
@media (max-width: 800px) {
  .header .nav-container {
    display: none;
  }
}
.header .nav-container .nav-bar {
  width: 60%;
  height: 80px;
  overflow: hidden;
  margin: auto;
  text-align: right;
  padding-top: 27px;
}
.header .nav-container .nav-bar .nav-item {
  display: inline;
  margin: 15px;
  align-items: center;
}
.header .nav-container .nav-bar .nav-item a {
  font-size: 18px;
  font-family: "nunito-semibold";
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}
.header .nav-container .nav-bar .nav-item a img {
  margin: 0 2% 0 10%;
}
.header .nav-container .nav-bar .nav-item .link-scrolled {
  color: #8cc63f;
}
.header .nav-container .nav-bar .nav-item .nav-link-search {
  background-color: #8cc63f;
  padding: 20px 10px 10px 0;
  border-radius: 35px;
}
.header .header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 86%;
  height: 100%;
}
@media (max-width: 1560px) {
  .header .header-content {
    width: 95%;
    margin: auto;
  }
}
@media (max-width: 992px) {
  .header .header-content {
    flex-direction: column;
  }
}
.header .header-content .header-text-container {
  width: 35vw;
  min-width: 300px;
  padding-top: 50px;
}
@media (max-width: 992px) {
  .header .header-content .header-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
  }
}
.header .header-content .header-text-container h1 {
  font-size: 70px;
  font-family: "nunito-black";
  color: #fff;
  margin-bottom: 70px;
}
@media (max-width: 1200px) {
  .header .header-content .header-text-container h1 {
    font-size: 55px;
  }
}
@media (max-width: 576px) {
  .header .header-content .header-text-container h1 {
    font-size: 35px;
  }
}
.header .header-content .header-text-container p {
  font-size: 24px;
  font-family: "nunito-medium";
  color: #fff;
  margin-bottom: 70px;
}
@media (max-width: 576px) {
  .header .header-content .header-text-container p {
    font-size: 18px;
  }
}
.header .header-content .header-text-container .button-container {
  width: 100%;
  display: flex;
}
@media (max-width: 992px) {
  .header .header-content .header-text-container .button-container {
    justify-content: center;
  }
}
.header .header-content .header-text-container .button-container button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "nunito-semibold";
  color: black;
  background-color: #fff;
  border: none;
  border-radius: 35px;
  padding: 10px 20px;
  width: 230px;
  height: 70px;
}
@media (max-width: 992px) {
  .header .header-content .header-text-container .button-container button {
    margin-bottom: 50px;
  }
}
.header .header-content .header-text-container .button-container button img {
  margin: 20px;
}
.header .header-content .header-figure-container {
  display: flex;
  justify-content: center;
  padding-right: 50px;
}
.header .header-content .header-figure-container img {
  width: 45vw;
  min-width: 500px;
}
@media (max-width: 992px) {
  .header .header-content .header-figure-container {
    padding-right: 3px;
  }
  .header .header-content .header-figure-container img {
    min-width: 250px;
    width: 80%;
  }
}
@media (max-width: 576px) {
  .header .header-content .header-figure-container img {
    width: 100%;
    margin-left: 0%;
  }
}
.header .idk {
  position: absolute;
  bottom: 0;
  left: 35vw;
  height: 64px;
}

.services {
  position: relative;
  min-height: 1050px;
  width: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1560px) {
  .services {
    width: 95%;
  }
}
.services h2 {
  font-size: 55px;
  font-family: "nunito-bold";
  margin-bottom: 80px;
}
@media (max-width: 576px) {
  .services h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.services p {
  font-size: 18px;
  line-height: 30px;
  max-width: 370px;
  color: #656b8f;
  margin-bottom: 80px;
}
@media (max-width: 576px) {
  .services p {
    margin-bottom: 3px;
  }
}
.services .services-logo {
  position: absolute;
  top: 10%;
  left: 10px;
}
.services .services-slider {
  width: 100%;
  height: 520px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.services .services-slider .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}
.services .services-slider .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services .services-slider .swiper .swiper-wrapper .swiper-slide .slide-image {
  margin-bottom: 30px;
  width: 250px;
  max-width: 60%;
}
.services .services-slider .swiper .swiper-wrapper .swiper-slide .slide-heading {
  margin-bottom: 30px;
}
.services .services-slider .swiper .swiper-wrapper .swiper-slide .slide-paragraph {
  margin-bottom: 30px;
}
.services .services-slider .swiper .swiper-wrapper .swiper-slide .slide-button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  font-size: 16px;
  font-family: "nunito-bold";
  transition: all 0.5s ease-out;
  color: #0c2533;
}
.services .services-slider .swiper .swiper-wrapper .swiper-slide .slide-button:hover {
  transform: scale(1.02);
  color: #0161cd;
}
.services .services-slider .swiper .swiper-wrapper .swiper-slide .slide-button img {
  width: 18px;
  margin-left: 15px;
}
.services .services-slider .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services .services-slider .swiper .swiper-slide .slide-image {
  margin-bottom: 30px;
}
.services .services-slider .swiper .swiper-slide .slide-heading {
  margin-bottom: 30px;
}
.services .services-slider .swiper .swiper-slide .slide-paragraph {
  margin-bottom: 30px;
}
.services .services-slider .swiper .swiper-slide .slide-button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  font-size: 16px;
  font-family: "nunito-bold";
  transition: all 0.5s ease-out;
  color: #0c2533;
}
.services .services-slider .swiper .swiper-slide .slide-button:hover {
  transform: scale(1.02);
  color: #0161cd;
}
.services .services-slider .swiper .swiper-slide .slide-button img {
  width: 18px;
  margin-left: 15px;
}
.services .services-slider .swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.lets-started {
  position: relative;
  width: 100%;
  padding: 70px 0;
  background-color: #8cc63f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.lets-started .started-content {
  height: 86%;
  width: 86%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 70px;
}
@media (max-width: 1560px) {
  .lets-started .started-content {
    width: 95%;
    margin: auto;
    padding-left: 20px;
  }
}
@media (max-width: 800px) {
  .lets-started .started-content {
    padding-left: 0px;
  }
}
@media (max-width: 992px) {
  .lets-started .started-content {
    flex-direction: column;
    padding-left: 0;
    justify-content: center;
  }
}
.lets-started .started-content .started-text-container {
  color: #0c2533;
  width: 25%;
}
@media (max-width: 992px) {
  .lets-started .started-content .started-text-container {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .lets-started .started-content .started-text-container {
    text-align: center;
  }
}
.lets-started .started-content .started-text-container li {
  text-decoration: none;
  list-style: none;
}
.lets-started .started-content .started-text-container h2 {
  font-size: 55px;
  font-family: "nunito-extra-bold";
  margin-bottom: 25px;
  width: 250%;
}
@media (max-width: 1200px) {
  .lets-started .started-content .started-text-container h2 {
    font-size: 45px;
  }
}
@media (max-width: 800px) {
  .lets-started .started-content .started-text-container h2 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .lets-started .started-content .started-text-container h2 {
    font-size: 35px;
  }
}
.lets-started .started-content .started-text-container p {
  font-size: 18px;
  color: #656b8f;
  font-family: "nunito-medium";
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .lets-started .started-content .started-text-container p {
    font-size: 16px;
  }
}
.lets-started .started-content .started-text-container h3 {
  font-size: 24px;
  font-family: "nunito-extra-bold";
  margin-bottom: 20px;
}
.lets-started .started-content .started-text-container .main-p {
  width: 170%;
}
@media (max-width: 992px) {
  .lets-started .started-content .started-text-container .main-p {
    width: 80%;
    padding-right: 0px;
  }
}
@media (max-width: 800px) {
  .lets-started .started-content .started-text-container .main-p {
    width: 110%;
  }
}
.lets-started .started-content .started-figure-container img {
  width: 55vw;
  min-width: 650px;
}
@media (max-width: 992px) {
  .lets-started .started-content .started-figure-container img {
    width: 90%;
    min-width: 250px;
  }
}

.profiles {
  position: relative;
  min-height: 680px;
  background-color: #f7fafe;
}
.profiles .profiles-container {
  width: 71vw;
  margin: auto;
  min-height: 680px;
  padding: 70px 30px 70px 100px;
  position: relative;
}
@media (max-width: 1560px) {
  .profiles .profiles-container {
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .profiles .profiles-container {
    padding: 70px 20px 70px 20px;
  }
}
.profiles .profiles-container .arrows {
  position: absolute;
  bottom: 100px;
  right: 100px;
}
@media (max-width: 1200px) {
  .profiles .profiles-container .arrows {
    bottom: 50px;
    right: 50%;
    transform: translate(50%);
  }
}
.profiles .profiles-container .profile-heading {
  display: flex;
  justify-content: center;
}
.profiles .profiles-container .profile-heading h2 {
  text-align: center;
  color: #0c2533;
  font-size: 45px;
  font-family: "nunito-bold";
  max-width: 470px;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .profiles .profiles-container .profile-heading h2 {
    max-width: 600px;
  }
}
@media (max-width: 576px) {
  .profiles .profiles-container .profile-heading h2 {
    font-size: 35px;
  }
}
.profiles .profiles-container .profile-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 100px;
}
@media (max-width: 1200px) {
  .profiles .profiles-container .profile-content {
    flex-direction: column;
    padding: 50px;
  }
}
@media (max-width: 576px) {
  .profiles .profiles-container .profile-content {
    padding: 0;
  }
}
.profiles .profiles-container .profile-content .profile-img-content img {
  margin-bottom: 20px;
}
.profiles .profiles-container .profile-content .profile-img-content h4 {
  font-size: 24px;
  font-family: "nunito-extra-bold";
}
.profiles .profiles-container .profile-content .profile-img-content p {
  font-size: 16px;
}
.profiles .profiles-container .profile-content .profile-text-content {
  position: relative;
  width: 67%;
  font-size: 20px;
  line-height: 36px;
  font-family: "nunito-bold";
  margin-bottom: 5%;
  padding: 10px;
}
@media (max-width: 1200px) {
  .profiles .profiles-container .profile-content .profile-text-content {
    width: 90%;
    margin-top: 30px;
  }
}
@media (max-width: 800px) {
  .profiles .profiles-container .profile-content .profile-text-content {
    width: 100%;
    font-size: 18px;
    padding: 0px;
  }
}
@media (max-width: 576px) {
  .profiles .profiles-container .profile-content .profile-text-content {
    margin-bottom: 50px;
  }
}
.profiles .profiles-container .profile-content .profile-text-content img {
  position: absolute;
  top: -30px;
  right: -80px;
  width: 64px;
}

.contact-us {
  position: relative;
  padding: 100px 0 300px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .contact-us {
    padding: 100px 0 200px 0;
  }
}
@media (max-width: 800px) {
  .contact-us {
    padding: 100px 0 150px 0;
  }
}
@media (max-width: 576px) {
  .contact-us {
    padding: 100px 0 100px 0;
  }
}
.contact-us h2 {
  font-size: 55px;
  font-family: "nunito-bold";
  color: #8cc63f;
}
.contact-us h2 span {
  border-bottom: 3px solid #8cc63f;
  color: #8cc63f;
}
.contact-us .form_form {
  width: 30%;
}
@media (max-width: 1200px) {
  .contact-us .form_form {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .contact-us .form_form {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .contact-us .form_form {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .contact-us .form_form {
    width: 90%;
  }
}
.contact-us .form-wrap {
  margin-top: 60px;
  width: auto;
}
@media (max-width: 576px) {
  .contact-us .form-wrap {
    width: 100%;
  }
}
.contact-us .form-wrap .input-wrap {
  margin-bottom: 25px;
}
.contact-us .form-wrap .input-wrap .input {
  width: 100%;
  border: 2px solid #8cc63f;
  outline: none;
  transition: all 0.3s ease-out;
  padding: 20px;
  height: 63px;
}
.contact-us .form-wrap .input-wrap .input:focus {
  transform: scale(1.01);
}
.contact-us .form-wrap .input-wrap .input option {
  font-size: 20px;
  color: #bbb8b8;
}
.contact-us .form-wrap .input-wrap .message-input {
  width: 100%;
  height: 188px;
  font-size: 20px;
  border: 2px solid #8cc63f;
  color: #bbb8b8;
  padding: 20px;
  resize: none;
}
.contact-us .form-wrap .input-wrap .message-input:focus {
  transform: scale(1.01);
}
.contact-us .form-wrap .input-wrap .contact-us-button {
  background-color: #0161cd;
  color: #fff;
  font-size: 18px;
  font-family: "nunito-medium";
  border: none;
  border-radius: 63px;
  padding: 10px;
  width: 100%;
  height: 63px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.contact-us .form-wrap .input-wrap .contact-us-button:hover {
  transform: scale(1.02);
  background-color: #275bbb;
}
.contact-us .form-wrap ::-moz-placeholder {
  font-size: 20px;
  color: #bbb8b8;
}
.contact-us .form-wrap :-ms-input-placeholder {
  font-size: 20px;
  color: #bbb8b8;
}
.contact-us .form-wrap ::placeholder {
  font-size: 20px;
  color: #bbb8b8;
}
.contact-us .error-message {
  color: red;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  display: none;
  text-align: center;
}
.contact-us .error-validation {
  display: block;
}

.footer {
  position: relative;
  width: 100%;
  min-height: 507px;
  background-color: #8cc63f;
  color: white;
  padding: 5% 0 30px 0;
}
.footer .footer-arrow {
  display: none;
  width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .footer .footer-arrow {
    display: flex;
    justify-content: center;
  }
}
.footer li {
  list-style: none;
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-out;
}
.footer a:hover {
  transform: scale(1.02);
  color: #275bbb;
  border-radius: 5px;
}
@media (max-width: 576px) {
  .footer {
    min-height: 150px;
  }
}
.footer .footer-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 71%;
  height: 100%;
  margin: auto;
  padding: 0px 100px;
  transition: all 0.5s easeS-out;
}
@media (max-width: 1560px) {
  .footer .footer-container {
    width: 95%;
  }
}
@media (max-width: 1200px) {
  .footer .footer-container {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .footer .footer-container {
    height: 0;
    overflow: hidden;
  }
}
.footer .footer-container .footer-content-1 {
  display: flex;
  justify-content: space-around;
  width: 50%;
  min-width: 350px;
}
@media (max-width: 1200px) {
  .footer .footer-container .footer-content-1 {
    width: 70%;
    margin-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .footer .footer-container .footer-content-1 {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .footer .footer-container .footer-content-1 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.footer .footer-container .footer-content-2 {
  display: flex;
  justify-content: space-around;
  width: 50%;
  min-width: 350px;
}
@media (max-width: 1200px) {
  .footer .footer-container .footer-content-2 {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .footer .footer-container .footer-content-2 {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .footer .footer-container .footer-content-2 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .footer .footer-container .footer-content-2 {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
}
.footer .footer-container .footer-card {
  margin-bottom: 30px;
}
.footer .footer-container h3 {
  font-size: 30px;
  font-family: "nunito-black";
  margin-bottom: 50px;
  color: white;
}
@media (max-width: 576px) {
  .footer .footer-container h3 {
    margin-bottom: 20px;
  }
}
.footer .footer-container .address h3 {
  font-family: "nunito-medium";
}
.footer .footer-container ul li {
  margin-bottom: 10px;
}
.footer .footer-container .get-in-touch ul {
  display: inline-flex;
  margin: 45px 0px;
}
.footer .footer-container .get-in-touch ul li {
  margin-right: 100%;
}
@media (max-width: 576px) {
  .footer .footer-container .get-in-touch ul li {
    margin-right: 0;
    margin: 10px;
  }
}
.footer .copyright {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  color: white;
}
.footer .copyright p {
  color: white;
}
@media (max-width: 576px) {
  .footer .copyright {
    margin-top: 10px;
  }
}

@font-face {
  font-family: "nunito-medium";
  src: url("../assets/Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "nunito-semibold";
  src: url("../assets/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "nunito-bold";
  src: url("../assets/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "nunito-extra-bold";
  src: url("../assets/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "nunito-black";
  src: url("../assets/Nunito_Sans/NunitoSans-Black.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nunito-medium";
  color: #0c2533;
}

body {
  min-width: 320px;
  max-width: 100%;
  position: relative;
}/*# sourceMappingURL=style.css.map */